Source: qmltermwidget
Section: unknown
Priority: optional
Maintainer: Alexis Lopez Zubieta <azubieta90@gmail.com>
Build-Depends: 
Standards-Version: 1.0.0
Homepage: https://github.com/nomad-shell/nomad-simplemenu
Vcs-Git: https://github.com/nomad-shell/nomad-simplemenu.git

Package: qmltermwidget
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This project is a QML port of qtermwidget. It is written to be as close as possible to the upstream project in order to make cooperation possible.
